<div class="footer-menu">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h5 class="title5">Registered Office</h5>
                <h2 class="title5">EL-ELOHE (Mobile Phone Display Change Centre) </h2>
                <ul class="address">
                    <li class="adres"><i class="fa fa-map-marker"></i>8/11, 1st Street, Parameshwari nagar, Adyar <br /> Chennai - 600020</li>
                    <li><i class="fa fa-envelope k10"></i>Email : <a href="mailto:info@elohemobiles.co.in">info@elohemobiles.co.in </a></li>
                    <li class="adres">
                        <i class="fa fa-mobile"></i>Phone : <a href="tel:9841190111">+91-9841190111 </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-4">
                <h5 class="title5">Branch Office</h5>
                <h2 class="title5">EL-ELOHE (Mobile Phone Display Change Centre) </h2>
                <ul class="address">
                    <li class="adres"><i class="fa fa-map-marker"></i>No.502, 6th Main 10th Cross, Rajendran nagar, Koramangala 8th block, Vivek nagar <br /> Bengaluru - 560047</li>
                    <li><i class="fa fa-envelope k10"></i>Email : <a href="mailto:info@elohemobiles.co.in">info@elohemobiles.co.in </a></li>
                    <li class="adres">
                        <i class="fa fa-mobile"></i>Phone : <a href="tel:9663652984">+91-9663652984 </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-4">
                <h5 class="title5">Branch Office</h5>
                <h2 class="title5">EL-ELOHE (Mobile Phone Display Change Centre) </h2>
                <ul class="address">
                    <li class="adres"><i class="fa fa-map-marker"></i>2-1-9, Thottathu vilai veetu, Manjalumoodu, Nagarcoil, Kanniya kumari <br /> Tamil nadu - 629151</li>
                    <li><i class="fa fa-envelope k10"></i>Email : <a href="mailto:info@elohemobiles.co.in">info@elohemobiles.co.in </a></li>
                    <li class="adres">
                        <i class="fa fa-mobile"></i>Phone : <a href="tel:7825041460">+91-7825041460 </a>
                    </li>
                </ul>
            </div>
            <!--div class="col-sm-3">
                <h5 class="title5">Quick Links </h5>
                <ul class="usefullink">
                    <li><a class="_blank" href="https://www.yaantra.com/aboutus">About Us</a> </li>
                    <li><a class="_blank" href="https://www.yaantra.com/contactus">Contact Us</a> </li>
                    
                    <li><a class="_blank" href="http://helpdesk.gadgetwood.com/client_login_page.aspx" target="_blank">Partner Login</a> </li>
                    
                    
                    
                    <li><a class="_blank" href="https://www.yaantra.com/repair/getyourphonerepaired">Book a Repair</a> </li>
                </ul>
            </div-->
            <!--div class="col-sm-3">
                <h5 class="title5">Information</h5>
                <ul class="usefullink">
                    <li><a class="_blank" href="https://www.yaantra.com/newsandevents">News & Events</a> </li>
                    <li><a class="_blank" href="https://www.yaantra.com/faq">FAQ</a> </li>
                    <li><a class="_blank" href="https://www.yaantra.com/storelocator">Store Locator</a> </li>
                    <li><a class="_blank" href="https://www.yaantra.com/TermsUse">Terms & Condition</a> </li>
                    <li><a class="_blank" href="http://blog.yaantra.com/">Blog</a> </li>
                    <li><a class="_blank" href="https://www.yaantra.com/warranty/checkwarranty">Warranty Status</a> </li>

                </ul>
            </div-->
            <!--div class="col-sm-2">
                <h5 class="title5">Help</h5>
                <ul class="usefullink">
                    <li><a class="_blank" href="https://www.yaantra.com/privacypolicy">Privacy Policy</a> </li>
                    <li><a class="_blank" href="https://www.yaantra.com/cancellationpolicy">Cancellation Policy</a> </li>
                    <li><a class="_blank" href="https://www.yaantra.com/refundpolicy">Refund Policy</a> </li>
                    <li><a class="_blank" href="https://www.yaantra.com/returnpolicy">Return Policy</a> </li>
                    <li><a class="_blank" href="https://www.yaantra.com/shippingpolicy">Shipping Policy</a> </li>
                    
                </ul>
            </div-->
        </div>
    </div>
</div>