{% load static %}
<div class="container rating-bx">
    <div class="row">


        <div class="col-sm-4">
            <div class="certified-bx" style="background-color: rgb(255 99 164);color: #fff;">
                <!--img src="{% static 'Images/happy-02.png' %}" alt="" /-->
                <a href="{% url 'mobile-sub-page-index' %}" style="font-size: larger;" class="dropdown-toggle"><span style="color: #fff;">MOBILE SERVICES </span></a>
            </div>

        </div>

        <div class="col-sm-4">
            <div class="certified-bx" style="background-color: rgb(255 99 164);color: #fff;">
                
                <!--h3>10 Lakh +</h3-->
                <p style="font-size: larger;"> LAPTOP SERVICE</p>
            </div>

        </div>

        <div class="col-sm-4">
            <div class="certified-bx" style="background-color: rgb(255 99 164);color: #fff;">
                <!--img src="{% static 'Images/happy-03.png' %}" alt="" /-->
                <p style="font-size: larger;">DESKTOP SERVICE</p>
            </div>

        </div>

    </div>
</div>